[run]
branch = True
source = bootcamp
parallel = true
omit = tests/*, bootcamp/bootcamp.py, bootcamp/handlers/base.py

[report]
show_missing = true
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    pass
    if self.debug:
    if 0:
    if __name__ == .__main__.:
