[run]
branch = True
source = bootcamp
parallel = true
omit = tests/*, bootcamp/bootcamp.py

[report]
show_missing = true
precision = 2
exclude_lines =
    def __repr__

    raise NotImplementedError

    pragma: no cover

    pass
